
<div class="container-superior">
  <button class="fonte-botao-voltar" (click)="encerrar()">Cancelar</button>
</div>

<p class="container-nome">Insira nome da Música:</p>

<div class="container-input">

  <input
    class="acorde-input"
    [ngClass]="{'input-error': isNomeMusicaInvalid}"
    type="text"
    name="nomeMusica"
    [(ngModel)]="nomeMusica"
    value="insira Nome:"
  />
  <button class="acorde-salvar" (click)="salvar()">Salvar</button>

</div>




  <div class="container-botoes">
    <button (click)="guardaListaAcordes(acorde)" *ngFor="let acorde of listaDeAcordes" class="acorde-botoes">
      {{ acorde.letra }}
    </button>
  </div>

  <div>
    <h3 class="container-salvos">Acordes Salvos:</h3>
    <ul class="lista-acordes">
      <li *ngFor="let acorde of listaDeAcordesParaSalvar">
         <!-- <button (click)="removerAcorde(acorde)"></button> -->
         {{ acorde.letra }}
      </li>
    </ul>
    <div class="container-remover-ultimo">
      <button class="remover-ultimo" (click)="removerUltimoAcorde()">Remover Último</button>
    </div>
  </div>




