


<div class="container-superior">
  <svg (click)="encerrar()" xmlns="http://www.w3.org/2000/svg" width="60" height="30" fill="currentColor" class="bi bi-arrow-left setinha-voltar" viewBox="0 0 16 16">
     <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
   </svg>
</div>

<p class="container-nome">Insira nome da Música:</p>

<div class="container-input">

  <input
    class="acorde-input"
    [ngClass]="{'input-error': isNomeMusicaInvalid}"
    type="text"
    name="nomeMusica"
    [(ngModel)]="nomeMusica"
    placeholder="insira Nome:"
  />
  <button class="acorde-salvar" (click)="salvar()">Salvar</button>

</div>




  <div class="container-botoes">
    <button (click)="guardaListaAcordes(acorde)" *ngFor="let acorde of listaDeAcordes" class="acorde-botoes">
      {{ acorde.letra }}
    </button>
  </div>

  <div>
    <h3 class="container-salvos">Acordes Salvos:</h3>
    <ul class="lista-acordes">
      <li *ngFor="let acorde of listaDeAcordesParaSalvar">
         <!-- <button (click)="removerAcorde(acorde)"></button> -->
         {{ acorde.letra }}
      </li>
    </ul>
    <div class="container-remover-ultimo">
      <button class="remover-ultimo" (click)="removerUltimoAcorde()">Remover Último</button>
    </div>
  </div>




