.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Ajuste para preencher a altura total da viewport */
  padding: 34px 0;
  background-color: #f9f9f9; /* Adiciona uma cor de fundo leve */
}

header {
  max-width: 800px; /* Aumenta a largura máxima para uma melhor leitura */
  text-align: center;
  background-color: #ffffff; /* Adiciona um fundo branco para o header */
  padding: 20px;
  border-radius: 8px; /* Adiciona bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

h1 {
  color: var(--primary-color);
  font-size: 28px; /* Aumenta o tamanho da fonte */
  margin-bottom: 20px; /* Aumenta o espaço abaixo do título */
}

p {
  font-size: 16px;
  color: var(--text-primary);
}

table {
  width: 100%;
  margin-bottom: 30px; /* Espaçamento abaixo da tabela */
  border-collapse: collapse; /* Remove o espaçamento entre as células da tabela */
}

th, td {
  padding: 12px; /* Adiciona espaçamento interno às células */
  text-align: left; /* Alinha o texto à esquerda */
}

th {
  background-color: #f0f0f0; /* Adiciona um fundo leve aos cabeçalhos */
  border-bottom: 2px solid #ddd; /* Adiciona uma borda inferior aos cabeçalhos */
}

td {
  border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior às células */
}

tr:hover {
  background-color: #f9f9f9; /* Destaca a linha ao passar o mouse */
}

.container-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Ajusta o espaçamento superior */
}

button {
  background-color: var(--primary-color); /* Adiciona cor de fundo ao botão */
  border: none; /* Remove a borda padrão do botão */
  color: #ffffff; /* Define a cor do texto no botão */
  font-size: 18px; /* Ajusta o tamanho da fonte do botão */
  padding: 10px 20px; /* Adiciona espaçamento interno ao botão */
  border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
  cursor: pointer; /* Altera o cursor para uma mão ao passar sobre o botão */
  transition: background-color 0.3s; /* Adiciona uma transição suave ao passar o mouse */
}

button:hover {
  // background-color: darken(var(--primary-color), 10%); /* Escurece a cor de fundo ao passar o mouse */
}

a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #ffffff; /* Define a cor do texto dos links dentro do botão */
}
