<main class="home-wrapper">

  <header>
    <h1>Escolha a música:</h1>


    <table>
      <tr>
        <th>Id</th>
        <th>Nome da Música</th>
      </tr>
      <tr *ngFor="let musica of listaDeMusicas; let i = index" (click)="navigateToEdit(musica.id)" style="cursor: pointer;">
        <td>{{ musica.id }}</td>
        <td>{{ musica.nome }}</td>
        <td><button><a [routerLink]="['/acordes', musica.id]">Praticar</a></button></td>
        <td><button (click)="excluir($event, i+1)">X</button></td>
      </tr>


    </table>

    <div class="container-botao">
      <button ><a class="fonte-botao" [routerLink]="['/cadastro']">Cadastrar Música</a ></button>
    </div>


  </header>




</main>
