<main class="home-wrapper">

  <header>
    <h1>Escolha a música:</h1>


    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome da Música</th>
          <th>Praticar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let musica of listaDeMusicas; let i = index" style="cursor: pointer;">
          <td (click)="navigateToEdit(musica.id)">{{ musica.id }}</td>
          <td (click)="navigateToEdit(musica.id)">{{ musica.nome }}</td>
          <td (click)="navigateToEdit(musica.id)">
            <button>
              <a [routerLink]="['/acordes', musica.id]">Praticar</a>
            </button>
          </td>
          <td>
            <div class="botao-excluir" >
              <svg  (click)="excluir($event, musica.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 5h4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5v-.5z"/>
                <path d="M4.5 1a1 1 0 0 0-1 1H1.5a.5.5 0 0 0 0 1H2l1 9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2l1-9h.5a.5.5 0 0 0 0-1H12.5a1 1 0 0 0-1-1h-7zm2 1h3a1 1 0 0 1 1 1H5.5a1 1 0 0 1 1-1zM5.5 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5v-5z"/>
              </svg>
            </div>
            <!-- <button  class="botao-excluir" (click)="excluir($event, musica.id)">X</button> -->
          </td>
        </tr>
      </tbody>
    </table>

    <div class="container-botao">
      <button  class="fonte-botao"><a  class="fonte-a" [routerLink]="['/cadastro-musicas']">Cadastrar Música</a ></button>
        <button class="fonte-botao" ><a class="fonte-a"  [routerLink]="['/cadastro-acordes']">Cadastrar Acorde</a ></button>
    </div>


  </header>




</main>
