<main class="home-wrapper">

  <header>
    <h1>Escolha a música:</h1>

    <table>
      <tr>
        <th>Id</th>
        <th>Nome da Música</th>
      </tr>
      <tr *ngFor="let musica of listaDeMusicas" (click)="navigateToEdit(musica.id)" style="cursor: pointer;">
        <td>{{ musica.id }}</td>
        <td>{{ musica.nome }}</td>
        <td><button><a [routerLink]="['/acordes',musica.id]">Navegar</a ></button></td>
      </tr>

    </table>
    <button><a [routerLink]="['/acordes',1]">Navegar</a>
    </button>

  </header>




</main>
