.


  <div *ngIf="!showContent">
    <div class="container-botao-voltar">
      <button class="fonte-botao-voltar" (click)="encerrar()">Voltar</button>
    </div>

    <div class="container-input">
      <h3>Insira a velocidade da música</h3>
      <input class="fonte-input" type="text" name="valorritmo" [(ngModel)]="valorRitmo" placeholder="Insira os segundos do ritmo:" />
    </div>
    <div class="container-botao-comecar">
      <button class="fonte-botao-comecar" (click)="comecar()">Começar</button>
      <button class="fonte-botao-repetir" (click)="repetir()">Repetir</button>
    </div>

  </div>

  <div *ngIf="showContent">

      <div class="container-botao-voltar">
        <button class="fonte-botao-voltar" (click)="encerrar()">Voltar</button>
      </div>

      <div class="container-letraacorde">
        <h1 class="fonte-letraacorde">{{ acordeAtual }}</h1>
      </div>
      <div class="container-nomeacorde">
        <h3 class="fonte-nomeacorde">{{ nomeAcordeAtual }}</h3>

      </div>
      <div class="container-ritmo">
        <h1 class="h1-ritmo">Ritmo: {{ valorRitmo }} </h1>
      </div>


  </div>



